*{
    margin:0px;
    padding: 0px;

}

img{
    width: 106.31px;
    height: 93.78px;
    
}

body{
    background-image: url("../assets/Vector.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #121214;

}

h1{
    color: #E1E1E6;
}

h2{
    color: #7C7C8A;
}

#blocos p{
 color: #E1E1E6;   
}


#footer{
    display: flex  ;
    margin-top: 10px;
    flex-direction: column;

}







