*{
    margin:0px;
    padding: 0px;

}

img{
    width: 106.31px;
    height: 93.78px;
    
}

body{

   background: #121214;

}

h1{
    color: #E1E1E6;
}

h2{
    color: #7C7C8A;
}

#blocos p{
 color: #E1E1E6;   
}








